
/Box2D.NET/obj/Debug/Box2DNET.csproj.FileListAbsolute.txt
/Box2D.NET/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Box2DNET.suo
*.suo
/Box2D.NET/obj
/Box2D.NET/Box2DNET.pdb
/Box2D.NET/Box2DNET.dll
/_ReSharper.Box2DNET
*.user
/Box2D.NET/bin/Debug/Box2DNET.dll
/Box2D.NET/bin/Debug/Box2DNET.pdb
/Box2D.NET/bin/Release/Box2DNET.dll
/Box2D.NET/bin/Release/Box2DNET.pdb